<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ProxyToFastAPI" stopProcessing="true">
          <match url="^(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^datacamptestgit.azurewebsites.net$" />
          </conditions>
          <action type="Rewrite" url="http://localhost:8000/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
