<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ProxyToFastAPI" stopProcessing="true">
          <match url="^(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^datacamptest2.azurewebsites.net$" />
          </conditions>
        </rule>
      </rules>
    </rewrite>
    <customErrors mode="Off" />
    <httpErrors errorMode="Detailed"></httpErrors>
  </system.webServer>
</configuration>
